<?xml version="1.0" encoding="UTF8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.small.fruitandvagetablemallspringboot.dao.ShoppingTrolleyMapper">
    <select id="queryForShopTrolleyAndPersonCommodityInfoById" parameterType="int"  resultType="hashMap">
        SELECT
            st.*,
            pi.nickName,
            pi.userName,
            pi.userPhone,
            pi.userSex,
            pi.userStatus,
            ci.commodityClassId,
            ci.commodityFreight,
            ci.commodityHot,
            ci.commodityInformation,
            ci.commodityName,
            ci.commodityImage,
            ci.commodityNumber,
            ci.commodityPrice
        FROM
            shopping_trolley st
                LEFT JOIN personal_information pi ON st.userId = pi.id
                LEFT JOIN commodity_information ci ON st.commodityId = ci.id
        where pi.id = #{uid};
    </select>

    <select id="queryForShopTrolleyAndPersonCommodityInfo"  resultType="hashMap">
        SELECT
            st.*,
            pi.nickName,
            pi.userName,
            pi.userPhone,
            pi.userSex,
            pi.userStatus,
            ci.commodityClassId,
            ci.commodityFreight,
            ci.commodityHot,
            ci.commodityInformation,
            ci.commodityName,
            ci.commodityImage,
            ci.commodityNumber,
            ci.commodityPrice
        FROM
            shopping_trolley st
                LEFT JOIN personal_information pi ON st.userId = pi.id
                LEFT JOIN commodity_information ci ON st.commodityId = ci.id;
    </select>

    <select id="queryForShopTrolleyByShopId" resultType="shoppingTrolley">
        SELECT
            *
        FROM
            shopping_trolley st
        WHERE
            st.commodityId = #{commodityId} and  st.userId=#{userId};
    </select>

    <insert id="addShoppingTrolley" parameterType="shoppingTrolley">
        insert into shopping_trolley(userId,commodityId,commodityNumber)
        VALUES(#{userId},#{commodityId},#{commodityNumber})
    </insert>

    <update id="updateShoppingTrolleyById" parameterType="shoppingTrolley">
        update shopping_trolley
        <set>
            <if test="''!=userId and null!=userId">
                userId=#{userId},
            </if>
            <if test="''!=commodityId and null!=commodityId">
                commodityId=#{commodityId},
            </if>
            <if test="''!=commodityNumber and null!=commodityNumber">
                commodityNumber=#{commodityNumber},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateShoppingTrolleyByUserId"  parameterType="shoppingTrolley">
        update shopping_trolley
        <set>
            <if test="''!=userId and null!=userId">
                userId=#{userId},
            </if>
            <if test="''!=commodityId and null!=commodityId">
                commodityId=#{commodityId},
            </if>
            <if test="''!=commodityNumber and null!=commodityNumber">
                commodityNumber=#{commodityNumber},
            </if>
        </set>
            <where>
                <if test="null!=userId">
                    userId=#{userId}
                </if>
                <if test="null!=commodityId">
                   and commodityId=#{commodityId};
                </if>
            </where>
    </update>

    <delete id="deleteShoppingTrolleyById" parameterType="int">
        delete from shopping_trolley where id =#{id}
    </delete>

    <delete id="deleteShoppingTrolleyByUserId" parameterType="int">
        delete from shopping_trolley where userId =#{uid}
    </delete>

    <delete id="deleteShoppingTrolleyByCommodityIds" parameterType="int[]">
        delete from shopping_trolley where userId in
                                           <foreach collection="cids" item="id" open="(" close=")" >
                                               #{id}
                                           </foreach>
    </delete>
</mapper>